@tailwind base;

@tailwind base;

@tailwind utilities;
.bg-custom-background {
  background-color: #D4D2C7; /* Replace with your desired color */
}


#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #131319;
}

canvas {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}
a.button {
  background-color: #ff0;
  color: #000;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  border: none;
  transition: background-color .3s, color .3s, opacity .9s cubic-bezier(.2,1,.3,1);
  position: fixed;
  bottom: 210px;
  right: 37%;
  z-index: 30;
  font-size: 14px;
  max-width: 200px;
  text-align: center;
}

a.button:hover {
  background-color: darkorange; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

a.button::after {
  content: '►'; /* Unicode character for black right-pointing pointer */
  margin-left: 10px; /* Space between text and the pointer */
  font-size: 1em; /* Adjust size as necessary */
  display: inline-block; /* Ensure the margin-top is applied */
  vertical-align: middle; /* Align the pointer vertically in the middle */
  background: none; /* Ensure no background is applied */
  color: inherit; /* Inherit the text color of the button */
  border: none; /* Ensure no border is applied */
}
.desktopVideo {
  display: none; /* Hidden by default */
}

.mobileVideo {
  display: block; /* Visible by default */
}

.customPlayButton {
  display: none; /* Hidden by default */
}

/* Show desktop video and custom button on larger screens */
@media (min-width: 768px) {
  .desktopVideo {
    display: block;
  }
  .mobileVideo {
    display: none;
  }
  .customPlayButton {
    display: block;
  }
}

.custom-play-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
  z-index:30;
}

.custom-play-button span {
  padding-left: 5px;
  font-size: 32px;
  color: black;
}
/* Tablet and Desktop */
@media (min-width: 640px) {
  a.button {
    bottom: 75px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset to truly center the button */
    max-width: 150px; /* Adjust max width for tablet and desktop */
    padding: 8px 16px; /* Adjust padding for smaller button */
  }
}


.slides {
  box-sizing: border-box;
  position: absolute;
  top: 75%;
  padding: 0 10vw;
  width: 100%;
  max-width: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}

.slide {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 33vh;
  color: #fff;
  transform: translateY(-50%);
  transition: transform 1300ms cubic-bezier(0.2, 1, 0.3, 1), opacity 500ms cubic-bezier(0.2, 1, 0.3, 1);
}

.slide-meta {
  opacity: 0;
  transition: opacity 900ms cubic-bezier(0.2, 1, 0.3, 1);
}

.show-meta .slide-meta {
  opacity: 1;
  transition: opacity 1500ms 300ms cubic-bezier(0.2, 1, 0.3, 1);
}
.slide-more {
  opacity: 0;
  transition: opacity 900ms cubic-bezier(0.2, 1, 0.3, 1);
}
.slide-more {
  background-color: yellow;
  color: black; /* Change text color to black for better readability */
  text-decoration: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  border: none; /* Remove the border-bottom */
  transition: opacity 1900ms cubic-bezier(0.2, 1, 0.3, 1);
  position: relative; /* Ensure pseudo-element is positioned correctly */
}

.show-meta .slide-more {
  opacity: 1;
  transition: opacity 1500ms 300ms cubic-bezier(0.2, 1, 0.3, 1);
}

.slide-more:hover {
  background-color: darkorange; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.slide-more::after {
  content: '►'; /* Unicode character for right-pointing triangle */
  margin-left: 10px; /* Space between text and the triangle */
  margin-top: 1px; /* Adjust this value to position the triangle vertically */
  font-size: 1em; /* Adjust size as necessary */
  display: inline-block; /* Ensure the margin-top is applied */
  vertical-align: middle; /* Align the triangle vertically in the middle */
}

.slide-title {
  font-size: 6vw;
  margin: 0;
  color: #000000;
  text-indent: -0.5vw;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 900;
  transition: color 500ms cubic-bezier(0.2, 1, 0.3, 1);
}

.prev,
.next {
  opacity: 0;
}

.prev {
  transform: translateY(-85%);
}

.next {
  transform: translateY(-15%);
}

.prev .slide-title,
.next .slide-title {
  -webkit-text-stroke: 1.5px #fafafa;
  text-stroke: 1.5px #fafafa;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

.scrolling>.slide {
  transform: translateY(-50%);
  opacity: 1;
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.first-slide-visible {
  opacity: 1;
}



.numbers-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-num {
  color: red;
}

.slash {
  color: black;
  margin: 0 5px;
}

.last-num {
  color: blue;
}

.click-drag {
  color: black;
  font-size: 12px;
  margin-top: 10px;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }

  .fade-in.visible {
    opacity: 1;
  }

  .first-slide-visible {
  opacity: 1;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: red;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.textdown {
  display: block;
  margin-top: -20px;
  margin-left: -27px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: red;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


.thevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: tove 3s ease-out infinite;
}

.thevron:first-child {
  animation: tove 3s ease-out 1s infinite;
}

.thevron:nth-child(2) {
  animation: tove 3s ease-out 2s infinite;
}

.thevron:before,
.thevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: blue;
}

.thevron:before {
  left: 0;
  transform: skew(0deg, -30deg);
}

.thevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, 30deg);
}

@keyframes tove {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(-30px);
  }
  67% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 0;
    transform: translateY(-55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 10px;
  margin-left: -px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: blue;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
/* Phone styles - 0 to 639px */
/* Portrait */
@media (max-width: 639px) and (orientation: portrait) {
  .progress-container {
    position: absolute;
    top: -50%;
    left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: transparent;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .container {
    top: -36%;
    left: 4%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  
   
  }
  

  .containers {
    top: -71%;
    left: 4%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  }
}

/* Landscape */
@media (max-width: 639px) and (orientation: landscape) {
  .progress-container {
    position: absolute;
    top: -50%;
    left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: transparent;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .container {
    top: -41%;
    left: 1%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  
   
  }
  

  .containers {
    top: -55%;
    left: 42%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  }
}

/* Tablet styles - 640px to 991px */
/* Portrait */
@media (min-width: 640px) and (max-width: 991px) and (orientation: portrait) {
  .progress-container {
    position: absolute;
    top: -50%;
    left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: transparent;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .container {
    top: -36%;
    left: 7%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  
   
  }
  

  .containers {
    top: -72%;
    left: 7%;
     position: absolute;
     width: 24px;
     height: 24px;
     padding: 1vw 33vw;
  }
}

/* Landscape */
@media (min-width: 640px) and (max-width: 991px) and (orientation: landscape) {
  .progress-container {
    position: absolute;
    top: -50%;
    left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: transparent;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .container {
    top: -35%;
    left: 7%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  
   
  }
  

  .containers {
    top: -74%;
    left: 7%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  }
}

/* Desktop styles - 992px and above */
/* Portrait */
@media (min-width: 992px) and (orientation: portrait) {
  .progress-container {
    position: absolute;
      top: -50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: transparent;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .container {
    top: -41%;
    left: 1%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  
   
  }
  

  .containers {
    top: -55%;
    left: 42%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  }
}

/* Landscape */
@media (min-width: 992px) and (orientation: landscape) {
  .progress-container {
    position: absolute;
    top: -50%;
    left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: transparent;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .container {
    top: -28%;
    left: 7.4%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  
   
  }
  

  .containers {
    top: -86%;
    left: 7.4%;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1vw 33vw;
  }
}


html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Nunito Sans,sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal
}

body {
  margin: 0;
  line-height: inherit
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}



a {
  color: inherit;
  text-decoration: inherit
}

b,strong {
  font-weight: bolder
}

code,kbd,samp,pre {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

button,select {
  text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
  -webkit-appearance: button;
  appearance: button;

  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
  margin: 0
}

fieldset {
  margin: 0;
  padding: 0
}

legend {
  padding: 0
}

ol,ul,menu {
  list-style: none;
  margin: 0;
  padding: 0
}

dialog {
  padding: 0
}

textarea {
  resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af
}

input::placeholder,textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}

button,[role=button] {
  cursor: pointer
}

:disabled {
  cursor: default
}
canvas{
  width:100vw;
  height:100vh;
}
img,svg,video,audio,iframe,embed,object {
  display: block;
  width: 100vw;
  

  
  
 
}



*,:before,:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia:
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia:
}

.pointer-events-none {
  pointer-events: none
}

.pointer-events-auto {
  pointer-events: auto
}

.visible {
  visibility: visible
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.bottom-0 {
  bottom: 0px
}

.left-0 {
  left: 0px
}

.right-0 {
  right: 0px
}

.top-0 {
  top: 0px
}

.z-10 {
  z-index: 10
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-8 {
  margin-top: 2rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-10 {
  height: 2.5rem
}

.h-5 {
  height: 1.25rem
}

.h-6 {
  height: 1.5rem
}

.w-10 {
  width: 2.5rem
}

.w-40 {
  width: 10rem
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.flex-1 {
  flex: 1 1 0%
}

.cursor-pointer {
  cursor: pointer
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-12 {
  gap: 3rem
}

.gap-2 {
  gap: .5rem
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top,var(--tw-gradient-stops))
}

.from-white\/90 {
  --tw-gradient-from: rgb(255 255 255 / .9) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.p-4 {
  padding: 1rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.pt-20 {
  padding-top: 5rem
}

.text-center {
  text-align: center
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.font-extrabold {
  font-weight: 800
}

.font-semibold {
  font-weight: 600
}

.italic {
  font-style: italic
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-opacity-60 {
  --tw-text-opacity: .6
}

.opacity-0 {
  opacity: 0
}

.opacity-80 {
  opacity: .8
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}

.duration-1000 {
  transition-duration: 1s
}





.hover\:opacity-60:hover {
  opacity: .6
}



article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:Helvetica,Arial,sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0;color:#ff4500}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:Helvetica,Arial,sans-serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C""\201D""\2018""\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*,:after,:before{box-sizing:border-box}:root{font-size:15px}body{--color-text:#949494;--color-bg:#0e0e0f;--color-link:#b78a84;--color-link-hover:#fff;color:var(--color-text);background-color:var(--color-bg);font-family:Helvetica,Arial,sans-serif}.cursor{display:none}.cursor__inner{z-index:9999;pointer-events:none;position:absolute;top:0;left:0;mix-blend-mode:difference;border-radius:50%}.cursor__inner--dot{width:8px;height:8px;background:#fff}.cursor__inner--circle{width:40px;height:40px;border:1px solid #fff}.js .loading:before{top:0;left:0;width:100%;height:100%;background:var(--color-bg)}.js .loading:after,.js .loading:before{content:"";position:fixed;z-index:100000}.js .loading:after{top:50%;left:50%;width:60px;height:60px;margin:-30px 0 0 -30px;pointer-events:none;border-radius:50%;opacity:.4;background:var(--color-link);animation:loaderAnim .7s linear infinite alternate forwards}@keyframes loaderAnim{to{opacity:1;transform:scale3d(.5,.5,1)}}a{text-decoration:none;color:#ff4500;outline:none}a:focus,a:hover{color:var(--color-link-hover);outline:none}.frame{padding:3rem 5vw;text-align:center;position:relative;z-index:1000}.frame__title{font-size:1rem;margin:0;font-weight:400}.frame__subtitle{font-size:1rem;margin:0 0 1rem;font-weight:400}.frame__links{display:inline}.frame__demos a:not(:last-child),.frame__links a:not(:last-child){margin-right:1rem}.frame__demos{margin:1rem 0}.frame__demo--current,.frame__demo--current:hover{color:var(--color-text)}.content{display:flex;flex-direction:column;width:100vw;height:calc(100vh - 13rem);position:relative;justify-content:flex-start;align-items:center}@media screen and (min-width:53em){.frame{position:fixed;text-align:left;z-index:10000;top:0;left:0;display:grid;align-content:space-between;width:100%;max-width:none;height:100vh;padding:9rem;pointer-events:none;grid-template-columns:75% 25%;grid-template-rows:auto auto auto;grid-template-areas:"title links" "... ..." "tip ..."}.frame__title-wrap{grid-area:title;display:list-item}.frame__title{margin:0}.frame__tagline{position:relative;margin:0;padding:0 0 0 1rem}.frame__tagline:before{content:"-------------";letter-spacing:-.15rem;margin:0 1rem 0 0}.frame__tip{grid-area:tip;margin:0}.frame__demos{margin:0;grid-area:demos;justify-self:end}.frame__links{grid-area:links;padding:0;justify-self:end}.frame a{pointer-events:auto}.content{height:100vh;justify-content:center}.cursor{display:block}}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}